<header class="header-default">
    <nav class="nav navbar navbar-expand-xl navbar-light true-shine-nav header-hover-menu py-xl-0">
        <div class="container navbar-inner">
            <div class="d-flex align-items-center justify-content-between w-100 landing-header">
                <div class="d-flex gap-3 gap-xl-0 align-items-center __web-inspector-hide-shortcut__">
                    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar_main" aria-controls="navbar_main" class="d-xl-none btn btn-primary rounded-pill toggle-rounded-btn">
                        <i class="ph ph-arrow-right"></i>
                    </button>
                    <!--Logo -->
                    <div class="logo-default">
                    <a class="navbar-brand" href="#home">
                        <img class="img-fluid logo" src="{{path}}assets/images/logo.png" alt="chat-bot-ai-logo">
                    </a>
                </div>
            </div>

            <nav id="navbar_main" class="offcanvas mobile-offcanvas nav navbar navbar-expand-xl hover-nav horizontal-nav py-xl-0">
                <div class="container-fluid p-0">
                    <div class="offcanvas-header">
                        <div class="navbar-brand p-0">
                            <!--Logo -->
                            <div class="logo-default">
                <a class="navbar-brand" href="#home">
                    <img class="img-fluid logo" src="{{path}}assets/images/logo.png" alt="chat-bot-ai-logo">
                </a>
            </div>            </div>
                        <button type="button" class="btn-close p-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                
                    <!-- menu -->
                    <ul class="navbar-nav true-shine-nav-menu  list-unstyled" id="header-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">
                                <span class="item-name">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">
                                <span class="item-name">Features</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#how-it-works">
                                <span class="item-name">How it works</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#use-case">
                                <span class="item-name">Use Case</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#faq">
                                <span class="item-name">FAQ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- right panel -->
            <div class="right-panel">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-btn">
                        <span class="navbar-toggler-icon"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {{!-- <ul class="navbar-nav align-items-center ms-auto mb-2 mb-xl-0">                 
                    </ul> --}}
                    <div class="d-flex align-items-center gap-3 flex-xl-nowrap flex-wrap px-xl-0 pb-xl-0 pt-xl-0 pt-3 px-3 pb-3">
                        <button class="btn btn-outline-primary p-2">Sign In</button>
                        <button class="btn btn-primary p-2">Get Started Free</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>