<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{ appName }} | Smart Automation AI</title>
        <meta name="description" content="Discover powerful AI solutions for business automation, chatbots, data analysis, and customer engagement. Boost efficiency with our AI platform.">
      <meta name="keywords" content="AI, Artificial Intelligence, AI Automation, AI Chatbot, AI Business Solutions, AI Tools">
      {{> components/partials/head }}
      {{#block "head"}}
      {{/block}}
  </head>
  <body>
  {{> components/partials/header/header}}
      <div class="main-content">
        {{#block "content"}}
        {{/block}}
      </div>
  {{> components/partials/footer/footer}}
        
  <!-- footer end -->

  <!-- Back To Top -->
  {{> components/partials/back-to-top}}
  <!-- Back To Top -->
  
    {{> components/partials/script }}
    {{#block "scripts"}}
    {{/block}}
  </body>
</html>