<footer>
  <div class="container">
    <div class="footer-inner-content">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-12">
          <h5 class="text-white mb-4">Chat Bot AI</h5>
          <p class="m-0 footer-desc">Transform your customer experience with intelligent AI-powered conversations. Available 24/7, multilingual, and seamlessly integrated with your favorite tools.</p>
          <form class="d-flex column-gap-3 row-gap-2 flex-md-nowrap flex-wrap mt-4">
              <div class="input-group  w-100"> 
                  <input type="email" class="form-control subscribe-input rounded" placeholder="Enter your Email" aria-label="Enter your Email">
              </div>
                <button class="btn btn-primary" type="submit">SUBSCRIBE</button>
          </form>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-4">Product</h5>
          <ul class="list-inline m-0 p-0 footer-link">
            <li><a href="#features">Features</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#use-case">Pricing</a></li>
            <li><a href="#">API Docs</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-4">Company</h5>
          <ul class="list-inline m-0 p-0 footer-link">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#blog">Blog</a></li>
          </ul>
        </div>
          <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-4">Resources</h5>
          <ul class="list-inline m-0 p-0 footer-link">
            <li><a href="#">Help Center</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">Updates</a></li>
          </ul>
        </div>
          <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-4">Legal</h5>
          <ul class="list-inline m-0 p-0 footer-link">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">GDPR</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row py-5 border-top">
          <div class="col-md-8 m-auto">
              <h6 class="mb-0 mt-md-0 mt-3 text-secondary">Copyright ©
                  <script>document.write(new Date().getFullYear())</script> Design &amp; Developed By <a href="#" target="_blank" class="text-primary">True Shine.</a>
              </h6>
          </div>
          <div class="col-md-4 mt-md-0 mt-4">
              <ul class="list-inline justify-content-end d-flex align-items-center mb-0 gap-3">
                  <li class="avatar-40 social-icon"><a href="https://x.com/"><i class="ph ph-x-logo text-white"></i></a></li>
                  <li class="avatar-40 social-icon"><a href="https://www.facebook.com/"><i class="ph ph-facebook-logo text-white"></i></a></li>
                  <li class="avatar-40 social-icon"><a href="https://www.linkedin.com/"><i class="ph ph-linkedin-logo text-white"></i></a></li>
                  <li class="avatar-40 social-icon"><a href="https://www.github.com/"><i class="ph ph-github-logo text-white"></i></a></li>
                  <li class="avatar-40 social-icon"><a href="https://www.youtube.com/"><i class="ph ph-youtube-logo text-white"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>